@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    @apply h-[100%] bg-primary
}


/* React Modal Animasyonları */

.ReactModal__Overlay {
    opacity: 0;
    transform: opacity 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: opacity 200ms ease-in-out;
  }